#about {
    width: 100%;
    padding-top: 130px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.about_box {
    width: 100%;
    min-height: calc(100vh - 130px);
    background: var(--paper) url("../images/about_background2.png") no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;


}

.middle_box {
    width: 70%;
    height: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

}

.about_textbox {
    width: 60%;
    max-width: 700px;
    max-height: 500px;

}

.about_textbox h2 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 200;
    margin-bottom: 1.2rem;
    color: var(--gold);
}

.about_textbox h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    line-height: 1.4;
    font-weight: 400;
    margin-bottom: 1.2rem;
    color: var(--gold);

}

.about_text {
    height: auto;
    width: 80%;
    max-width: 500px;
}

.about_text p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    line-height: 1.6;
    font-weight: 200;
    margin-bottom: 1.2rem;
    color: var(--paper);
}

.emilija_photo {
    width: 18rem;
    height: auto;
    padding-bottom: 10%;
    margin-right: 5%;
    opacity: 0.80;

}


.bottom_outer_box {
    width: 70%;
    min-width: 200px;
    height: auto;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    outline: 1px solid red;

}

.bottom_inner_box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    outline: 1px solid blue;
}

.bottom_outer_box h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1.2rem;
    color: var(--green);


}

.bottom_inner_box h4 {
    grid-column: 2;
    grid-row: 2;
}

.bottom_outer_box p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 1.2rem;
    color: var(--green);
    grid-column: 2;
    grid-row: 3;
}

.about_small_box {
    width: 25%;
    min-width: 200px;
    height: 16rem;
    display: grid;
    grid-template-columns: 20px 1fr 20px;
    grid-template-rows: repeat(3, 1fr);
    gap: 0.5rem;
    padding: 20px;
    background-color: var(--paper);
    border: 1px solid rgb(184, 184, 184);
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
    outline: 1px solid green;

}

.small_logo {
    grid-column: 2;
    grid-row: 1;
    align-self: center;
    justify-self: center;
    height: 60px;
    margin: 10px;

}