#about {
    width: 100%;
    padding-top: 130px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.about_box {
    width: 100%;
    min-height: calc(100vh - 130px);
    background: var(--paper) url("../images/about_background2.png") no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
   

}

.middle_box {
    width: 70%;
    height: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
   
}

.about_textbox {
    width: 60%;
    max-width: 700px;
    max-height: 500px;
   
}

.about_textbox h2 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 200;
    margin-bottom: 1.2rem;
    color: var(--gold);
}

.about_textbox h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    line-height: 1.4;
    font-weight: 400;
    margin-bottom: 1.2rem;
    color: var(--gold);
}

.about_text {
    height: auto;
    width: 80%;
    max-width: 500px;
}

.about_text p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    line-height: 1.6;
    font-weight: 200;
    margin-bottom: 1.2rem;
    color: var(--paper);
}

.emilija_photo {
    width: 18rem;
    height: auto;
    padding-bottom: 10%;
    margin-right: 5%;
    opacity: 0.80;
   
}