#about {
  width: 100%;
  padding-top: 130px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.about_box {
  width: 100%;
  min-height: calc(100vh - 130px);
  background: var(--paper) url("../images/about_background.png") no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  
}

.about_textbox {
  width: 50%;
  max-width: 600px;
  margin-left: 5%;
  margin-top: -5%;
}

.about_textbox h2{
     font-family: 'Montserrat', sans-serif;
     text-transform: uppercase;
    font-size: 1rem;
    font-weight: 200;
    margin-bottom: 1.2rem;
    color: var(--gold);
}

.about_textbox h3{
     font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    line-height: 1.4;
    font-weight: 400;
    margin-bottom: 1.2rem;
    color: var(--gold);
}

.about_text{
    height: auto;
    width: 80%;
    max-width: 500px;
}

.about_text p{
     font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    line-height: 1.6;
    font-weight: 200;
    margin-bottom: 1.2rem;
    color: var(--paper);
}

.emilija_photo{
    width: 30%;
    height: auto;
    padding-right: 10%;
    opacity: 0.90;
}