header {
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 120px;
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(6px);
    z-index: 10;
}

nav {
    max-width: 1300px;
    margin: auto;
    padding: 1.2rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    height: 5rem;
    transform: scaleX(-1);
    
}

nav ul {
    display: flex;
    gap: 4rem;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: rgba(0, 37, 11, 0.7);
    font-size: 1.5rem;
    font-weight: 300;
}

nav a:hover {
    color: #999;
}


.hero {
    width: 100%;
    margin-top: 130px;
    height: calc(100vh - 130px);
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;

    background: var(--paper) url("../images/background_with_logo.png") no-repeat;
    background-size: cover;
    background-position: center 15%;
}

.hero-content {
    max-width: 600px;
    padding: 6rem;
}

.hero h1 {
    font-size: 2.8rem;
    font-weight: 400;
    margin-bottom: 1.2rem;
    color: var(--gold);
}


.typing {
    font-family: "JetBrains Mono", monospace;
    font-size: 1.6rem;
    color: #fff;
    line-height: 1.6em;
    min-height: 1.6em;
}


.typing::after {
    content: "|";
    margin-left: 4px;
    animation: blink 1s steps(1) infinite;
    opacity: 0;
    color: var(--gold);
   
}

.typing.cursor-on::after {
    opacity: 1;
}


@keyframes blink {
    50% {
        opacity: 0;
    }
}


.view_my_work {
    display: inline-block;
    margin-top: 2rem;
    padding: 0.7rem 1.4rem;
    border: 1px solid var(--gold);
    color: var(--gold);
    text-decoration: none;
    border-radius: 4px;
    font-size: 0.9rem;
}

.view_my_work:hover {
    background: var(--gold);
    color: var(--green);
}

/* Tagline */
.tagline {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 1rem;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 0.15em;
    color: rgba(0, 37, 11, 0.7);
}

