:root {
    --green: #2f4f44;
    --gold: #d4b25c;
    --paper: #fdfdfd;
}



body {
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    background: #fff;
    color: #222;
}