@import url("./reset.css");
@import url("./index.css");
@import url("./about.css");


:root {
    --green: #2f4f44;
    --gold: #d4b25c;
    --paper: #fdfdfd;
}



body {
    width: 100vw;
    height: auto;
    display: block;
    overflow-x: hidden;
    
    font-family: 'Montserrat', sans-serif;
    background: #fff;
   
}